
    
      ol {
        list-style-type:none;
        padding:0;
        margin:0;
        background-color:#daa6cf;;
        font-size:18px;
        height:2em;
        line-height:2em;
        text-align:center;
      }

    

      ol a {
        display:block;
        text-decoration:none;
        color:#0f2a82;
        padding:0 5px;
      }

    
      ol > li {
        float:left;
        width:150px;
        margin-left:1px;
        background-color:#3d5fda;
        height:2em;
      }


      ol > li:first-child {
        margin-left:0;
      }

   
      ol > li:hover {
        background-color:#dc3a3a;
      }


      ol > li:hover > a {
        color:#09C;
      }

   
      ol > li:hover > ul {
        display:block;
      }

      ol > li > ul {
        display:none;
        list-style-type:none;
        padding:0;
        margin:0;
      }


      ol > li > ul > li {
        position:relative;
        background-color:#33bf29;
      }

     
      ol > li > ul > li > a {
        border-top:1px solid #c1249f;
      }

     
      ol > li > ul > li:hover {
        background-color:#dd9818;
      }

      ol > li > ul > li:hover > a {
        color:rgb(93, 202, 139);
      }

      body{
        background-color: #daa6cf;
      }
