.navigation{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: gray;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 10;
}

.navigation a{
    color: white;
    font-size: 30px;
    font;
    text-transform: uppercase;
    text-decoration: none;
}

.movie{
    width: 100%;
    filter: brightness(0.5);
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
}

